<!--NavBar Menu-->
<app-navbar></app-navbar>
<!--Banner image-->
<app-carosual></app-carosual>
<div class="container" style="padding:20px 0px;">
    <div class="row">
        <div class="col-sm-7 margin-auto">
            <!--Make Claim Form start-->
            <form [formGroup]="makeClaimForm">
                <p-panel header="Add Claim">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Policy number:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="number" formControlName="policyNo" placeholder="Required" />
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Policy Number is required" *ngIf="!makeClaimForm.controls['policyNo'].valid&&makeClaimForm.controls['policyNo'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Diagnosis *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="diagnosis" placeholder="Required" />
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Diagnosis is required" *ngIf="!makeClaimForm.controls['diagnosis'].valid&&makeClaimForm.controls['diagnosis'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Admission Date *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-calendar formControlName="admittedDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Admission Date is required" *ngIf="!makeClaimForm.controls['admittedDate'].valid&&makeClaimForm.controls['admittedDate'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Discharge Date *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-calendar formControlName="dischargeDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text=" Discharge Date is required" *ngIf="!makeClaimForm.controls['dischargeDate'].valid&&makeClaimForm.controls['dischargeDate'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Total Claim Amount *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="number" formControlName="claimAmount" placeholder="Required" />
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Total Claim Amount is required" *ngIf="!makeClaimForm.controls['claimAmount'].valid&&makeClaimForm.controls['claimAmount'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Hospital name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="hospitalName" placeholder="Required" />
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Hospital name is required" *ngIf="!makeClaimForm.controls['hospitalName'].valid&&makeClaimForm.controls['hospitalName'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Details in discharge Summary*:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="dischargeSummary" placeholder="Required" />
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Details in discharge Summary Claim Amount is required"
                                        *ngIf="!makeClaimForm.controls['dischargeSummary'].valid&&makeClaimForm.controls['dischargeSummary'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                File Upload *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="file" placeholder="Required" (change)="onUpload($event)" />
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4">
                                Nature of Ailment *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="natureOfAilments" formControlName="natureOfAilment"></p-dropdown>
                                <div style="margin-top:10px;">
                                    <p-message severity="error" text="Nature of Ailment is required" *ngIf="!makeClaimForm.controls['natureOfAilment'].valid&&makeClaimForm.controls['natureOfAilment'].dirty"></p-message>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"></div>
                            <div class="ui-grid-col-3">
                                <button pButton type="submit" label="Submit" [disabled]="makeClaimForm.invalid" (click)="addClaim (makeClaimForm.value)"></button>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </form>
            <!--Make Claim Form end-->
        </div>
    </div>
</div>
<!--Msg dispaly-->
<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>