<header id="myHeader">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" aria-label="button" data-toggle="collapse" data-target="#myNavbar"
                    (click)="navMenu()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="/"><img src="./assets/images/logo.jpg" alt="logo"></a>
                <strong class="title">Medical Claim</strong>
            </div>
            <!--Without login show menu details-->
            <div id="myLinks" class="mobile-view">
                <div *ngIf="localStorageData.showSignin">
                    <ul class="nav navbar-nav txt-menu">
                        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
                        <li routerLinkActive="active"><a routerLink="/makeclaim">Add Claim</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
                <!--With login show menu details-->
                <ul class="nav navbar-nav navbar-right" *ngIf="localStorageData.showLogout">
                    <li><a><strong>Role: </strong><span class=""></span> &nbsp;{{localStorageData.approverRole}}
                        </a></li>
                    <li><a><span class="glyphicon glyphicon-user"></span> &nbsp;{{localStorageData.approverName}}
                        </a></li>
                    <li><a routerLink="/login" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>
                            logout</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>